h3,h4,td,th,thead,tbody,body,p{
font-family: "gentilis";
}
body {
	margin:0 auto;
	padding:0;
	width:100%;
	color:#333;
	border:1px solid #333;

}
html, .main {
	padding:0;
	margin:0;
}
.clear {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

/* LAYOUT */
.space{
	height:20px;
	width:100%;
}
#menu-head-wrapp{
	height:40px;
	width:77%;
	background:url(../image/ova.png) repeat-x, url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png)repeat-x;
	background-color: rgba(3,59,73,.9);
	margin: 0 auto;
	-moz-border-top-right-radius: 0.3em;
	border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	-moz-border-top-left-radius: 0.3em;
	border-top-left-radius: 0.3em;
	-webkit-border-top-left-radius: 0.3em;
	/*Shadow*/
	box-shadow: 0px -1px 2px #bdbcb0;
	-webkit-box-shadow: 0px -1px 2px #bdbcb0;
	moz-box-shadow: 0px -1px 2px #bdbcb0;
	
}
#nama-menu p{
	text-align:center;
	text-transform:Uppercase;
	color:#FFFFFF;
	font-family:gentilis;
	
}
#menu-wrapp{
	height:150px;
	width:77%;
	background: url(images/ui2-bg_diagonals-small_50_93c3cd_40x40.png) repeat ;
	background-color: rgba(9,116,121,.9);
	margin: 0 auto;
	-moz-border-bottom-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-border-bottom-left-radius: 0.3em;
	/*Shadow*/
	box-shadow: 0px 1px 1px #bdbcb0;
	-webkit-box-shadow: 0px 1px 1px #bdbcb0;
	moz-box-shadow: 0px 1px 1px #bdbcb0;

}
#menu{
	height:124px;
	width:22.9%;
	background:url(../image/menu-over.png) repeat-x;
	background-color:rgba(233,252,155,.600);
	margin: 8px 0px 8px 8px;
	float:left;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	padding:5px;
}
#nama-menu{
	width:25%;
	height:30px;
	float:left;
	display: block;
}
#header{
	height:48px;
	background: url(../image/head.png) repeat-x, url(images/uihead-bg_diagonals-small_50_93c3cd_40x40.png)repeat;
	border-bottom:1px solid #CACACA;
	color:#fff;
	
}
#logo{
	width:45px;
	height:45px;
	background:url(../image/logo.png) no-repeat 0 0;
	float:left;
	position:relative;
	margin:0 auto;
	top:10px;
}
#logo:hover{
	background:url(../image/logob.png) no-repeat 0 0;
}
.right{
float:right;

padding-top:15px;
}
#right-head{
	font-size:10px;
	color:rgba(123,23,47,.700);
	float:right;
	padding-top:15px;
}
#maspa {
	width:120px;
	height:45px;
	float:left;
	position:relative
}

#maspa h1 {
	text-indent:-9999em;
	height:40px
}
#head-container{
width:77%;
background:#cccccc;
margin:0 auto;
}
#site-container{
width: 100%;
background-color:#FFF;
margin: 0 auto;
}
#maspa a {
	background:url(../image/maspa.png) no-repeat 0 0;
	text-indent:-9999em;
	width:120px;
	height:45px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
#maspa a:hover{
	background:url(../image/maspab.png) no-repeat 0 0;
	text-indent:-9999em;
	width:120px;
	height:45px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}

#content{
	-moz-border-bottom-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-webkit-border-bottom-left-radius: 0.3em;
	
	-moz-border-top-right-radius: 0.3em;
	border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	-moz-border-top-left-radius: 0.3em;
	border-top-left-radius: 0.3em;
	-webkit-border-top-left-radius: 0.3em;
	
	font-family:"gentilis",impact,helvetica;
	font-size: 16px;
	min-height:300px;
	width:76%;
	padding:20px 10px;
	background: rgba(240,240,240,.0);
	margin:0 auto;
	border-top: 0.4px solid rgba(3,159,142,.400);
	border-bottom: 0.1px solid rgba(3,159,142,.200);
}
#footer{
	padding-top: 1.33em;
	padding-bottom: 1.33em;
}
#top-footer{
min-height: 160px;
overflow: hidden;
border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
box-shadow: inset 0 -1px 0 white;
background-color: rgba(243,249,236,.900);
font-size:12px;
}
.contain{
	width:960px;
	display:block;
	margin:0 auto;
}
.logo {
	display: block;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	height:130px;
	width:90px;
	background:url(../image/log.png) no-repeat 0 0;
}
/* ELEMENT */
#header h2{
	font-size:30px;
	margin:0px;
}
#content a:link {
	color: #0066cc;
	text-decoration:none;
}
#content a:active,
#content a:hover {
	color: #59BAFF;
}
.title{
	font-size:30px;
	border-bottom:1px solid #333;
	margin-bottom:15px;
	font-family: "gentilis",calibri,sans-serif;
}
/*Jquery menu*/
.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin-top:23px;
		margin-left: 14px;
		padding: 0px;
	}
	#icons li {
		margin: 3px;
		position: relative;
		padding:4px;
		cursor: pointer;
		float: left;
		list-style: none;
		border:0;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}

/*table*/

.tr_data 
{
	font-family: "calibri",sans-serif;
}

#dialog-form{
	width:250px;
	float:left;
	}
#dialog-form label {
	width:100px;
}
.add{
	float:right;
}

#kelas-box{
	background:url(../image/box-bag.png) no-repeat 0 0;
	width:180px;
	height:150px;
	float:left;
	margin-right:7px;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-radius: 0.3em;
	/*Shadow*/
	box-shadow: 0px -1px 3px #bdbcb0;
	-webkit-box-shadow: 0px -1px 3px #bdbcb0;
	moz-box-shadow: 0px -1px 3px #bdbcb0;
}
.inside-box{
	width:172px;
	height:142px;
	padding:4px;
	background-color:rgba(196,124,217,.34);
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-radius: 0.3em;
}
.inside-box:hover{
		background-color:rgba(161,10,205,.01);

}
.inside-box p{
	font-size:20px;
	color: #e2efe9;
	margin:5px 0px 0px 23px;
}
.inside-box h3{
	font-size:30px;
	color: #ffe7e7;
	margin:5px 0px 0px 68px;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 font-size:14px;
 width:165px;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 padding-left:0px;
 float: left;
 top:30px;
 left:11px;
 background:rgba(241,139,7,.8);
	-moz-border-top-left-radius: 0.4em;
	border-top-left-radius: 0.4em;
	-webkit-border-top-left-radius: 0.4em;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 padding-left: 4px;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 95.7%;
 padding-left: 4px;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
 background:rgba(241,139,7,.8);
 -moz-border-bottom-right-radius: 0.5em;
 border-bottom-right-radius: 0.5em;
 -webkit-border-bottom-right-radius: 0.5em;
}